/* Extra Small Devices (< 480px) */
:root {
    /*
     * QUAN TRỌNG: Hãy thay đổi giá trị 80px này 
     * bằng chiều cao thực tế của header của bạn.
    */
    --header-height-mobie: 85px;
}

/* < 320px (rất nhỏ) */
@media screen and (max-width: 319.98px) {
    .h1-chuyen-gia {
        font-size: 24px;
    }
     .title-dichvuphongthuy{
    font-size: 20px;
    height: 47px;
    margin-top: 6px;
 }
 .content-dichvuphongthuy2{
     font-size: 14px;
     line-height: 24px;
     height: 80px;
 }
 .box-xemthem-dichvuphongthuy{
       font-size: 18px;
 }
}

@media screen and (max-width: 479.98px) {
.schedule-popup-header h2{
    font-size: 20px;
}
    .title-logo {
        display: none;
        font-size: 16px;
    }

    .main-navigation {
        display: none;
    }

    .mobile-menu-toggle {
        display: flex;
    }

    .img-logo {
        width: 52px;
        height: 61px;
    }

    .btn-banner-pc {
        display: none;
    }

    .btn-banner-mobile {
        display: flex;
    }

    .btn-hover-default {
        height: 70px;
        margin-top: 30px;
        font-size: 24px;
    }

    .text-dess-su-menh {
        text-align: center;
        font-size: 16px;
    }

    .img-banner-tu-van {
        width: 250px;
        height: 168px;
    }

    .img-banner-dich-vu {
        width: 300px;
        height: 224px;
    }

    .phong-thuyh1 {
        height: 89px;
    }

    .title-chuyengiatuvan {
        font-size: 18px;
    }

    /* .sticky-title-wrapper {
        position: unset;
    } */

    .title-decorator-img {
        display: none;
    }

    .bird-image {
        display: none;

    }

    .bird-images {
        width: 90px;
        height: auto;
    }

    .upleft-image {
        display: none;
    }

    .upright-image {
        display: none;
    }

    .bottom-image {
        display: none;
    }

    .h1-chuyen-gia {
        font-size: 27px;
    }

    .chuyen-gia2 {
        line-height: 66px;
        font-size: 56px;
    }

    .h1-chuyen-gia {
        line-height: 69px;
    }

    .title-gioi-thieu {
        font-size: 40px;
    }

    .decorative-line {
        display: none;
    }

    .gioi-thieu-section {
        padding-top: 100px;
    }

    /* .about-2-image {
        top: 12%;
        left: 9%;
    } */

    /* .about-1-image {
        top: 12%;
        right: 9%;
       
    } */

    .about-2-image img {
        width: 90px;
    }

    .about-1-image img {
        width: 90px;
    }

    .gioi-thieu-content {
        margin-top: 10px;
        font-size: 14px;
    }

    /* .scroll-container {
        margin-top: 10px;
    } */

    .songabout-upright-image {
        bottom: 8%;
        left: -14%;
    }

    .song2about-upright-image {
        bottom: 9%;
        right: -11%;
    }

    .section-title {
        font-size: 46px;
    }

    .mission-text .sub-title {
        font-size: 25px;
    }

    .decoration-dot {
        display: none;
    }

    .section-title {
        position: unset;
        text-align: center;
        transform: none;
        display: block;
    }

    .title-wrapper {
        position: relative;
        height: 100px;
    }

    .sumenh-2-image {
        bottom: 40%;
        left: 8%;
    }

    .sumenh-1-image {
        bottom: 40%;
        right: 8%;
    }

    .sumenh-2-image img {
        width: 100px;
    }

    .sumenh-1-image img {
        width: 100px;
    }

    .mission-text .sub-title {
        justify-content: center;
    }

    .card-container-miss {
        justify-content: center;
    }

    .card-item-miss {
        font-size: 18px;
    }

    .mission-image {
        display: none;
    }

    .mission-text-content {
        display: flex;
        flex-direction: column;
        /* Xếp các phần tử con theo cột (dọc) */

    }

    /* 2. Thiết lập thứ tự mặc định cho desktop */
    .mission-text-content .sub-title {
        order: 2;
        /* Hiển thị đầu tiên */
    }

    .mission-text-content .text-dess-su-menh {
        order: 1;
        /* Hiển thị thứ hai */
    }

    .title-quytrinh {
        font-size: 34px;
        /* line-height: 50px; */
    }

    .quytrinh-2-image {
        left: 0%;
        bottom: 0;
    }

    .quytrinh-1-image {
        right: 0;
        bottom: 0;
    }

    .quytrinh-2-image img {
        width: 100px;
    }

    .quytrinh-1-image img {
        width: 100px;
    }

    .caydao-upleft-image {
        display: none;
    }

    .steps-slider {
        margin-top: 50px;
        /* margin-bottom: 110px; */
    }

    .slide {
        flex: 0 0 100%;
        padding: 0;
    }

    .slide-content {
        height: auto;
        background-image: none;
    }

    .icontitle-camketleft {
        position: absolute;
        left: -46px;
        top: 42px;
    }

    .icontitle-camketright {
        position: absolute;
        right: -46px;
        top: 42px;
    }

    .deco-bottom-right {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 54%;
    }

    .deco-bottom-left {
        position: absolute;
        left: 0;
        width: 25%;
        bottom: 29%;
    }

    .deco-top-left {
        left: 15%;
        top: 24%;
        width: 15%;
    }

    .deco-bottom {
        bottom: 50%;
        right: 0%;
        width: 18%;
    }

    .tagline {
        text-align: center;
        font-size: 16px;
    }

    .heading-decorator {
        display: none;
    }

    .section-header {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-heading-wrapper {
        padding-right: 0;
        order: -1;
    }

    .deco-bottom-right {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 82%;
    }

    .deco-bottom-left {
        position: absolute;
        left: 0;
        width: 58%;
        bottom: 19%;
    }

    .deco-top-left {
        left: -3%;
        top: 26%;
        width: 36%;
    }

    .deco-bottom {
        bottom: 47%;
        right: 0%;
        width: 32%;
    }

    .deco-top-hoa {
        top: 0%;
        right: 2%;
        width: 17%;
    }

    .item-title-camket {
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
    }

    .section-title-phanhoi {
        margin-top: 0;
    }

    #prev-btn2 {
        left: -25px;
    }

    #next-btn2 {
        right: -25px;
    }

    .section-title-phanhoi h2 {
        font-size: 42px;
    }

    .phanhoi-2-image {
        left: -16px;
    }

    .phanhoi-1-image {
        right: -16px;
    }

    .phanhoi-2-image img {
        width: 120px;
    }

    .phanhoi-1-image img {
        width: 120px;
    }

    .contact-box {
        padding: 0;
    }

    .corner-deco {
        display: none;
    }

    .contact-box {
        border: none;
        background-color: unset;
        box-shadow: none
    }

    .contact-info {
        text-align: left;
    }

    .contact-description,
    .contact-hours {
        font-size: 18px;
        padding-top: 8px;
        margin-bottom: 0;
    }

    .contact-title {
        font-size: 32px;
        margin-bottom: 7px;
    }

    .contact-list {
        margin-top: 8px;
    }

    .contact-list li {
        margin-bottom: 2px;
    }

    .contact-form-wrapper {
        margin-top: 20px;
    }

    .deco-hoatietbottomleft {
        left: 0%;
        bottom: 60px;
        width: 200px;
    }

    .deco-hoatietbottomright {
        right: 0;
        bottom: 60px;
        width: 200px;

    }

    .footer-about {
        font-size: 22px;
    }

    .footer-contact-info {
        font-size: 16px;
    }

    .footer-title {
        font-size: 18px;
    }

    .footer-links a {
        font-size: 16px;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-title-hoi-dap h2 {
        font-size: 40px;
    }

    .hoi-dap-1-image {
        left: 14%;
    }

    .hoi-dap-2-image {
        right: 14%;
    }

    .hoi-dap-1-image img {
        width: 100px;
    }

    .hoi-dap-2-image img {
        width: 100px;
    }

    .image-column-hoidap {
        display: none;
    }

    .box-cah-hoi-dap {
        height: 100px;
    }

    .trangtri2thanh1 {
        bottom: 44%;
        right: 31%;
        width: 90px;
    }

    .trangtri2thanh2 {
        bottom: 44%;
        right: 4%;
        width: 90px;
    }

    .trangtri2hoidap {
        bottom: 63%;
        right: 70%;
        width: 65px;
    }

    .trangtrihoidapright {
        width: 82px;
    }

    .trangtrihoidapleft {
        width: 80px;
    }

    .baivietnoibat-1-image {
        left: 0;
    }

    .baivietnoibat-1-image img {
        width: 100px;
    }

    .baivietnoibat-2-image img {
        width: 100px;
    }

    .baivietnoibat-2-image {
        right: 0%;
    }

    .title-noibat {
        font-size: 20px;
        line-height: 24px;
    }

    .des-noibat {
        font-size: 14px;
        line-height: 20px;
    }

    .section-title-main-heading {
        text-align: center;
        font-size: 36px;
    }

    .gthiu-main-heading-wrapper {
        justify-content: center;
        padding-right: 0;
    }

    .bx-gthiu {
        position: relative;
    }

    .gthiu-icontitle-camketleft {
        position: absolute;
        left: -8px;
        bottom: 5px;
    }

    .gthiu-icontitle-camketright {
        position: absolute;
        right: -8px;
        bottom: 5px;
    }

    .dichvu-icontitle-camketleft {
        position: absolute;
        left: -40px;
        bottom: 5px;
    }

    .dichvu-icontitle-camketright {
        position: absolute;
        right: -40px;
        bottom: 5px;
    }

    /* .box-gthieuthay-chuyengia{
        height: 360px;
    } */
    .glowing-tag {
        font-size: 14px;
    }

    .gradient-text-thaytintuc {
        font-size: 22px;
    }

    .titlekienthucphongthuy {
        font-size: 42px;
    }

    .title-kienthuch3 {
        font-size: 24px;
    }

    .side-article .article-thumb {
        width: 110px;
    }

    .article-tag {
        font-size: 12px;
    }

    .title-kienthuch4 {
        font-size: 18px;
    }

    .read-more-link {
        font-size: 12px;
    }
      .title-dichvuphongthuy{
    font-size: 20px;
    height: 47px;
    margin-top: 6px;
 }
 .content-dichvuphongthuy2{
     font-size: 14px;
     line-height: 24px;
     height: 77px;
 }
 .box-xemthem-dichvuphongthuy{
       font-size: 18px;
 }
  .container-fixx {
               max-width: 100%;
    }
}

/* Small Devices (≥ 480px and < 768px) */
@media screen and (min-width: 480px) and (max-width: 767.98px) {
    .schedule-popup-header h2{
    font-size: 20px;
}
    .title-logo {
        display: none;
        font-size: 18px;
    }

    .main-navigation {
        display: none;
    }

    .mobile-menu-toggle {
        display: flex;
    }

    .img-logo {
        width: 52px;
        height: 61px;
    }

    .btn-banner-pc {
        display: none;
    }

    .btn-banner-mobile {
        display: flex;
    }

    .btn-hover-default {
        height: 70px;
        margin-top: 20px;
        font-size: 28px;
    }

    .text-dess-su-menh {
        font-size: 18px;
    }

    .img-banner-tu-van {
        width: 319px;
        height: 168px;
    }

    .img-banner-dich-vu {
        width: 310px;
        height: 224px;
    }

    .phong-thuyh1 {
        height: 110px;
    }

    .title-chuyengiatuvan {
        font-size: 17px;
    }

    /* .sticky-title-wrapper {
        position: unset;
    } */

    .title-decorator-img {
        display: none;
    }

    .bird-image {
        opacity: 0.4;
        bottom: 0;
        left: 0%;
    }

    .upleft-image {
        opacity: 0.4;
        top: 10%;
        left: 0%;
    }

    .upright-image {
        opacity: 0.4;
        top: 10%;
        right: 0%;
    }

    .bottom-image {
        opacity: 0.4;
        bottom: 10%;
        right: 0%;
    }

    .h1-chuyen-gia {
        font-size: 31px;
    }

    .chuyen-gia2 {
        font-size: 54px;
    }

    .h1-chuyen-gia {
        line-height: 70px;
    }

    .title-gioi-thieu {
        font-size: 40px;
    }

    .decorative-line {
        display: none;
    }

    .gioi-thieu-section {
        padding-top: 100px;
    }

    /* .about-2-image {
        top: 11%;
        left: 20%;
    } */

    /* .about-1-image {
        top: 11%;
        right: 20%;
    }*/

    .about-2-image img {

        width: 120px;
    }

    .about-1-image img {

        width: 120px;
    }

    .gioi-thieu-content {
        margin-top: 10px;
        /* padding-top: 13px; */
        font-size: 20px;
    }

    .songabout-upright-image {
        bottom: 8%;
        left: 17%;
    }

    .song2about-upright-image {
        bottom: 8%;
        right: 12%;
    }

    .section-title {
        font-size: 46px;
    }

    .mission-text .sub-title {
        font-size: 40px;
    }

    .decoration-dot {
        display: none;
    }

    .section-title {
        position: unset;
        text-align: center;
        transform: none;
        display: block;
    }

    .title-wrapper {
        position: relative;
        height: 100px;
    }

    .sumenh-2-image {
        bottom: 40%;
        left: 8%;
    }

    .sumenh-1-image {
        bottom: 40%;
        right: 8%;
    }

    .mission-text .sub-title {
        justify-content: center;
    }

    .card-container-miss {
        justify-content: center;
    }

    .card-item-miss {
        font-size: 18px;
    }

    .mission-image {
        display: none;
    }

    .mission-text-content {
        display: flex;
        flex-direction: column;
        /* Xếp các phần tử con theo cột (dọc) */

    }

    /* 2. Thiết lập thứ tự mặc định cho desktop */
    .mission-text-content .sub-title {
        order: 2;
        /* Hiển thị đầu tiên */
    }

    .mission-text-content .text-dess-su-menh {
        order: 1;
        /* Hiển thị thứ hai */
    }

    .title-quytrinh {
        font-size: 42px;
        /* line-height: 50px; */
    }

    .quytrinh-2-image {
        left: 16%;
        bottom: 0px;
    }

    .quytrinh-1-image {
        right: 16%;
        bottom: 0;
    }

    .quytrinh-2-image img {
        width: 100px;
    }

    .quytrinh-1-image img {
        width: 100px;
    }

    .caydao-upleft-image {
        display: none;
    }

    .steps-slider {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .slide {
        /* 
     * QUAN TRỌNG: Mỗi slide chiếm 1/3 chiều rộng của viewport.
     * Sử dụng calc() để tính toán chính xác.
    */
        flex: 0 0 calc(100% / 2);
    }

    .slide-content {
        height: auto;
        background-image: none;
    }

    .prev-btn {
        left: -60px;
    }

    .next-btn {
        right: -60px;
    }

    .icontitle-camketleft {
        position: absolute;
        left: -46px;
        top: 45px;
    }

    .icontitle-camketright {
        position: absolute;
        right: -46px;
        top: 45px;
    }


    .tagline {
        text-align: center;
        font-size: 16px;
    }

    .heading-decorator {
        display: none;
    }

    .section-header {

        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .main-heading-wrapper {
        padding-right: 0;
        order: -1;
    }

    .deco-bottom-right {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 64%;
    }

    .deco-top-hoa {
        top: 0%;
        right: 2%;
    }

    .deco-bottom-left {
        position: absolute;
        left: 0;
        width: 40%;
        bottom: 19%;
    }

    .deco-top-left {
        left: 9%;
        top: 24%;
        width: 28%;
    }

    .deco-bottom {
        bottom: 46%;
        right: 0%;
        width: 29%;
    }

    .item-title-camket {
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
    }

    .section-title-phanhoi {
        margin-top: 0;
    }

    #prev-btn2 {
        left: -25px;
    }

    #next-btn2 {
        right: -25px;
    }

    .phanhoi-2-image {
        left: 25px;
    }

    .phanhoi-1-image {
        right: 25px;
    }

    .phanhoi-2-image img {
        width: 120px;
    }

    .phanhoi-1-image img {
        width: 120px;
    }

    .contact-box {
        padding: 0;
    }

    .corner-deco {
        display: none;
    }

    .contact-box {
        border: none;
        background-color: unset;
        box-shadow: none
    }

    .contact-info {
        text-align: left;
    }

    .contact-description,
    .contact-hours {
        font-size: 18px;
        padding-top: 8px;
        margin-bottom: 0;
    }

    .contact-title {
        margin-bottom: 7px;
    }

    .contact-list {
        margin-top: 8px;
    }

    .contact-list li {
        margin-bottom: 2px;
    }

    .contact-form-wrapper {
        margin-top: 20px;
    }

    .deco-hoatietbottomleft {
        left: 0%;
        bottom: 60px;
    }

    .deco-hoatietbottomright {
        right: 0;
        bottom: 60px;
    }

    .footer-about {
        font-size: 22px;
    }

    .footer-contact-info {
        font-size: 16px;
    }

    .footer-title {
        font-size: 18px;
    }

    .footer-links a {
        font-size: 16px;
    }

    .section-title-hoi-dap h2 {
        font-size: 48px;
    }

    .hoi-dap-1-image {
        left: 20%;
    }

    .hoi-dap-2-image {
        right: 20%;
    }

    .hoi-dap-1-image img {
        width: 110px;
    }

    .hoi-dap-2-image img {
        width: 110px;
    }

    .image-column-hoidap {
        display: none;
    }

    .box-cah-hoi-dap {
        height: 100px;
    }

    .trangtri2thanh1 {
        bottom: 44%;
        right: 43%;
        width: 90px;
    }

    .trangtri2thanh2 {
        bottom: 44%;
        right: 23%;
        width: 90px;
    }

    .trangtri2hoidap {
        bottom: 30%;
        right: 70%;
        width: 65px;
    }

    .trangtrihoidapright {
        width: 103px;
    }

    .trangtrihoidapleft {
        width: 103px;
    }

    .baivietnoibat-1-image {
        left: 10%;
    }

    .baivietnoibat-2-image {
        right: 10%;
    }

    .title-noibat {
        font-size: 20px;
        line-height: 24px;
    }

    .des-noibat {
        font-size: 14px;
        line-height: 20px;
    }

    .section-title-main-heading {
        text-align: center;
        font-size: 36px;
    }

    .gthiu-main-heading-wrapper {
        justify-content: center;
        padding-right: 0;
    }

    .bx-gthiu {
        position: relative;
    }

    .gthiu-icontitle-camketleft {
        position: absolute;
        left: -40px;
        bottom: 5px;
    }

    .gthiu-icontitle-camketright {
        position: absolute;
        right: -40px;
        bottom: 5px;
    }

    .dichvu-icontitle-camketleft {
        position: absolute;
        left: -35px;
        bottom: 5px;
    }

    .dichvu-icontitle-camketright {
        position: absolute;
        right: -35px;
        bottom: 5px;
    }

    /* .box-gthieuthay-chuyengia{
        height: 360px;
    } */
    .glowing-tag {
        font-size: 14px;
    }

    .glowing-tag {
        /* font-size: 1px; */
    }

    .gradient-text-thaytintuc {
        font-size: 22px;
    }

    .titlekienthucphongthuy {
        font-size: 42px;
    }

    .title-kienthuch3 {
        font-size: 24px;
    }

    .side-article .article-thumb {
        width: 110px;
    }

    .dich-vu-phongthuy::before {
        height: 96px;
    }
       .title-dichvuphongthuy{
    font-size: 20px;
    height: 47px;
    margin-top: 6px;
 }
 .content-dichvuphongthuy2{
     font-size: 14px;
     line-height: normal;
     height: 60px;
 }
 .box-xemthem-dichvuphongthuy{
       font-size: 16px;
 }
  .container-fixx {
               max-width: 100%;
    }
}

/* Medium Devices (≥ 768px and < 992px) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .title-logo {
        display: none;
        font-size: 20px;
    }

    .main-navigation {
        display: none;
    }

    .mobile-menu-toggle {
        display: flex;
    }

    .img-logo {
        width: 52px;
        height: 61px;
    }

    .btn-banner-pc {
        display: none;
    }

    .btn-banner-mobile {
        display: flex;
    }

    .btn-hover-default {
        height: 65px;
        margin-top: 20px;
        font-size: 26px;
    }

    .text-dess-su-menh {
        font-size: 18px;
    }

    .img-banner-tu-van {
        width: 390px;
        height: 168px;
    }

    .img-banner-dich-vu {
        width: 310px;
        height: 224px;
    }

    .phong-thuyh1 {
        height: 150px;
    }

    .title-chuyengiatuvan {
        font-size: 24px;
    }

    /* .sticky-title-wrapper {
        position: unset;
    } */

    .title-decorator-img {
        display: none;
    }

    .bird-image {
        opacity: 0.6;
        left: 7%;
    }

    .upleft-image {
        top: 10%;
        left: 0%;
        opacity: 0.6;
    }

    .upright-image {
        top: 10%;
        right: 0%;
        opacity: 0.6;
    }

    .bottom-image {
        opacity: 0.6;
        bottom: 6%;
        right: 0%;
    }

    .bottom-image img {
        width: 76%;
    }

    .h1-chuyen-gia {
        font-size: 34px;
    }

    .chuyen-gia2 {
        padding: 13px;
        line-height: 87px;
        font-size: 81px;
    }

    .h1-chuyen-gia {
        line-height: 70px;
    }

    .title-gioi-thieu {
        font-size: 44px;
    }

    .decorative-line {
        display: none;
    }

    /* .about-2-image {
        top: 16%;
        left: 23%;
    }

    .about-1-image {
        top: 16%;
        right: 23%;
    } */

    .gioi-thieu-content {
        margin-top: 10px;
        font-size: 21px;
    }

    .songabout-upright-image {
        bottom: 8%;
        left: 17%;
    }

    .song2about-upright-image {
        bottom: 8%;
        right: 12%;
    }

    .section-title {
        font-size: 46px;
    }

    .mission-text .sub-title {
        font-size: 35px;
    }

    .text-dess-su-menh {
        font-size: 18px;
    }

    .decoration-dot {
        display: none;
    }

    .section-title {
        position: unset;
        text-align: center;
        transform: none;
        display: block;
    }

    .title-wrapper {
        position: relative;
        height: 100px;
    }

    .sumenh-2-image {
        bottom: 40%;
        left: 22%;
    }

    .sumenh-1-image {
        bottom: 40%;
        right: 22%;
    }

    .mission-text .sub-title {
        justify-content: center;
    }

    .card-container-miss {
        justify-content: center;
    }

    .card-item-miss {
        font-size: 20px;
    }

    .mission-image {
        display: none;
    }

    .mission-text-content {
        display: flex;
        flex-direction: column;
        /* Xếp các phần tử con theo cột (dọc) */

    }

    /* 2. Thiết lập thứ tự mặc định cho desktop */
    .mission-text-content .sub-title {
        order: 2;
        /* Hiển thị đầu tiên */
    }

    .mission-text-content .text-dess-su-menh {
        order: 1;
        /* Hiển thị thứ hai */
    }

    .title-quytrinh {
        font-size: 42px;
        line-height: noma;
    }

    .quytrinh-2-image {
        left: 22%;
        bottom: -10px;
    }

    .quytrinh-1-image {
        right: 22%;
        bottom: -10px;
    }

    .caydao-upleft-image {
        display: none;
    }

    .steps-slider {
        margin-top: 110px;
        margin-bottom: 110px;

    }

    .slide {
        /* 
     * QUAN TRỌNG: Mỗi slide chiếm 1/3 chiều rộng của viewport.
     * Sử dụng calc() để tính toán chính xác.
    */
        flex: 0 0 calc(100% / 3);
    }

    .slide-content {
        height: auto;
        background-image: none;
    }

    .prev-btn {
        left: -60px;
    }

    .next-btn {
        right: -60px;
    }

    .deco-bottom-right {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 54%;
    }

    .deco-bottom-left {
        position: absolute;
        left: 0;
        width: 25%;
        bottom: 29%;
    }

    .deco-top-left {
        left: 15%;
        top: 24%;
        width: 15%;
    }

    .deco-bottom {
        bottom: 50%;
        right: 0%;
        width: 18%;
    }

    .deco-top-hoa {
        top: 0%;
        right: 2%;
    }

    .tagline {
        text-align: center;
        font-size: 16px;
    }

    .heading-decorator {
        display: none;
    }

    .section-header {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-heading-wrapper {
        order: -1;
        padding-right: 0;
    }

    .icontitle-camketleft {
        position: absolute;
        left: -46px;
        top: 44px;
    }

    .icontitle-camketright {
        position: absolute;
        right: -46px;
        top: 44px;
    }

    .item-title-camket {
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
    }

    .section-title-phanhoi {
        margin-top: 0;
    }

    #prev-btn2 {
        left: -25px;
    }

    #next-btn2 {
        right: -25px;
    }

    .phanhoi-2-image {
        left: 70px;
    }

    .phanhoi-1-image {
        right: 70px;
    }

    .contact-box {
        padding: 133px 39px 133px 39px;
    }

    .deco-hoatietbottomleft {
        left: 0%;
        bottom: 60px;
    }

    .deco-hoatietbottomright {
        right: 0;
        bottom: 60px;
    }

    .footer-about {
        font-size: 22px;
    }

    .footer-contact-info {
        font-size: 16px;
    }

    .footer-title {
        font-size: 18px;
    }

    .footer-links a {
        font-size: 16px;
    }

    .section-title-hoi-dap {
        margin-top: 30px;
    }

    .section-title-hoi-dap h2 {
        font-size: 52px;

    }

    /* .hoi-dap-1-image, .hoi-dap-2-image{
        display: none;
    } */
    .hoi-dap-1-image {
        left: 26%;
    }

    .hoi-dap-2-image {
        right: 26%;
    }

    .hoi-dap-1-image img {
        width: 140px;
    }

    .hoi-dap-2-image img {
        width: 140px;
    }

    .image-column-hoidap {
        display: none;
    }

    .box-cah-hoi-dap {
        height: 100px;
    }

    .trangtri2thanh1 {
        bottom: 44%;
        right: 43%;
        width: 120px;
    }

    .trangtri2thanh2 {
        bottom: 44%;
        right: 23%;
        width: 120px;

    }

    .trangtri2hoidap {
        bottom: 30%;
        right: 70%;
    }

    .trangtrihoidapright {
        width: 140px;
    }

    .trangtrihoidapleft {
        width: 140px;
    }

    .baivietnoibat-1-image {
        left: 17%;
    }

    .baivietnoibat-2-image {
        right: 17%;
    }

    .title-noibat {
        font-size: 20px;
        line-height: 24px;
    }

    .des-noibat {
        font-size: 14px;
        line-height: 20px;
    }

    .section-title-main-heading {
        text-align: center;
        font-size: 36px;
    }

    .gthiu-main-heading-wrapper {
        justify-content: center;
        padding-right: 0;
    }

    .bx-gthiu {
        position: relative;
    }

    .gthiu-icontitle-camketleft {
        position: absolute;
        left: -40px;
        bottom: 5px;
    }

    .gthiu-icontitle-camketright {
        position: absolute;
        right: -40px;
        bottom: 5px;
    }

    .dichvu-icontitle-camketleft {
        position: absolute;
        left: -40px;
        bottom: 5px;
    }

    .dichvu-icontitle-camketright {
        position: absolute;
        right: -40px;
        bottom: 5px;
    }

    /* .box-gthieuthay-chuyengia{
        height: 360px;
    } */
    .glowing-tag {
        font-size: 14px;
    }

    .section-title-phongthuy {
        margin-top: 30px;
    }

    .titlekienthucphongthuy {
        font-size: 42px;
    }

    .title-kienthuch3 {
        font-size: 24px;
    }

    .dich-vu-phongthuy::before {
        height: 96px;
    }
      .title-dichvuphongthuy{
    font-size: 20px;
    height: 47px;
    margin-top: 6px;
 }
 .content-dichvuphongthuy2{
     font-size: 14px;
     line-height: 24px;
     height: 77px;
 }
 .box-xemthem-dichvuphongthuy{
       font-size: 18px;
 }
  .container-fixx {
               max-width: 100%;
    }
}

/* Large Devices (≥ 992px and < 1200px) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .title-logo {
        display: block;
        font-size: 22px;
    }

    .main-navigation {
        display: block;
    }

    .mobile-menu-toggle {
        display: none;
    }

    .img-logo {
        width: 70px;
        height: 82px;
    }

    .btn-banner-pc {
        display: flex;
    }

    .btn-banner-mobile {
        display: none;
    }

    .btn-hover-default {
        height: 70px;
        margin-top: 30px;
        font-size: 31px;
    }


    .text-dess-su-menh {
        font-size: 20px;
    }

    .phong-thuyh1 {
        height: 150px;
    }

    .title-chuyengiatuvan {
        font-size: 24px;
    }

    /* .sticky-title-wrapper {
        top: 70px;
        right: 35%;
    } */

    .bird-image {
        opacity: 0.4;
        left: 7%;
    }

    .upleft-image {
        opacity: 0.4;
        top: 10%;
        left: 0%;
    }

    .upright-image {
        opacity: 0.4;
        top: 10%;
        right: 0%;
    }

    .bottom-image {
        opacity: 0.4;
        bottom: 10%;
        right: 0%;
    }

    .h1-chuyen-gia {
        font-size: 27px;
    }

    .chuyen-gia2 {
        line-height: 90px;
        font-size: 73px;
    }

    .h1-chuyen-gia {
        line-height: 63px;
    }

    .title-gioi-thieu {
        font-size: 56px;
    }

    /* .about-2-image {
        top: 17%;
        left: 25%;
    }

    .about-1-image {
        top: 17%;
        right: 25%;
    } */

    .gioi-thieu-content {
        font-size: 28px;
    }

    .songabout-upright-image {
        bottom: 5%;
        left: 22%;
    }

    .song2about-upright-image {
        bottom: 4%;
        right: 12%;
    }

    .section-title {
        font-size: 56px;
    }

    .mission-text .sub-title {
        font-size: 35px;
    }

    .text-dess-su-menh {
        font-size: 20px;
    }

    .box-about-text {
        padding-top: 80px;
    }

    .decoration-dot,
    .section-title {
        left: 20%;
    }

    .decoration-dot {
        height: 60px;
    }

    .section-title {
        top: 60px;
    }

    .sumenh-2-image,
    .sumenh-1-image {
        display: none;
    }

    .card-container-miss {
        justify-content: start;
    }

    .card-item-miss {
        font-size: 20px;
    }

    .title-quytrinh {
        font-size: 56px;
        line-height: 50px;
    }

    .quytrinh-2-image {
        left: 25%;
        bottom: -10px;
    }

    .quytrinh-1-image {
        right: 25%;
        bottom: -10px;
    }

    .caydao-upleft-image {
        left: 0;
        top: 0;
    }

    .steps-slider {
        margin-top: 110px;
        margin-bottom: 110px;

    }

    .slide {
        /* 
     * QUAN TRỌNG: Mỗi slide chiếm 1/3 chiều rộng của viewport.
     * Sử dụng calc() để tính toán chính xác.
    */
        flex: 0 0 calc(100% / 3);
    }

    .slide-content {
        height: auto;
        background-image: none;
    }

    .prev-btn {
        left: -60px;
    }

    .next-btn {
        right: -60px;
    }

    .deco-bottom-right {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 43%;
    }

    .deco-bottom-left {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 24%;
    }

    .deco-top-left {
        left: -6%;
        top: 20%;
        width: 18%;
    }

    .deco-bottom {
        bottom: 9px;
        right: 56%;
        width: 14%;
    }

    .deco-top-hoa {
        top: 5%;
        right: 0%;
        width: 6%;
    }

    .icontitle-camketleft,
    .icontitle-camketright {
        display: none;
    }

    .gthiu-icontitle-camketleft,
    .gthiu-icontitle-camketright {
        display: none;
    }

    .dichvu-icontitle-camketleft,
    .dichvu-icontitle-camketright {
        display: none;
    }

    .commitment-item {
        position: relative;
    }

    /* Sử dụng pseudo-element ::after để tạo đường kẻ
       Chỉ áp dụng cho các item KHÔNG PHẢI là item cuối cùng */
    .commitment-item:not(:last-child)::after {
        content: '';
        /* Bắt buộc phải có để pseudo-element hiển thị */

        position: absolute;
        /* Định vị đường kẻ một cách chính xác */
        top: 50%;
        /* Đặt đường kẻ ở giữa theo chiều dọc */
        right: 0;
        /* Đặt đường kẻ ở cạnh phải của cột */
        transform: translateY(-50%);
        /* Căn giữa đường kẻ tuyệt đối */

        width: 1px;
        /* Độ dày của đường kẻ */
        height: 80%;
        /* Chiều cao của đường kẻ (80% chiều cao của cột) */

        /* Màu của đường kẻ - màu trắng mờ cho tinh tế */
        background-color: #FFFFFF;
    }

    .item-title-camket {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
    }

    .phanhoi-2-image {
        display: none;
    }

    .phanhoi-1-image {
        display: none;
    }

    .contact-box {
        padding: 133px 27px 133px 27px;
    }

    .deco-hoatietbottomleft {
        left: 0%;
        bottom: 60px;
    }

    .deco-hoatietbottomright {
        right: 0;
        bottom: 60px;
    }

    .section-title-hoi-dap {
        margin-top: 30px;
    }

    .section-title-hoi-dap h2 {
        font-size: 56px;

    }

    .hoi-dap-1-image,
    .hoi-dap-2-image {
        display: none;
    }

    .img-hoidap1 {
        position: absolute;
        top: 0;
        right: 0;
        width: 367px;
    }

    .img-hoidap2 {
        position: absolute;
        top: 22%;
        left: -51px;
        width: 281px;
    }

    .box-cah-hoi-dap {
        height: 100px;
    }

    .trangtri2thanh1 {
        bottom: 44%;
        right: 43%;
        width: 120px;
    }

    .trangtri2thanh2 {
        bottom: 44%;
        right: 23%;
        width: 120px;

    }

    .trangtri2hoidap {
        bottom: 30%;
        right: 70%;
    }

    .baivietnoibat-1-image,
    .baivietnoibat-2-image {
        display: none;
    }

    /* .box-gthieuthay-chuyengia{
        height: 430px;
    } */
    .glowing-tag {
        font-size: 14px;
    }

    .gradient-text-thaytintuc {
        font-size: 24px;
    }

    .section-title-phongthuy {
        margin-top: 30px;
    }

    .titlekienthucphongthuy {
        font-size: 56px;
        font-family: CormorantGaramond-Bold, serif;
    }

    .dich-vu-phongthuy::before {
        height: 96px;
    }
     .title-dichvuphongthuy{
    font-size: 20px;
    height: 47px;
    margin-top: 6px;
 }
 .content-dichvuphongthuy2{
     font-size: 14px;
     line-height: 24px;
     height: 72px;
 }
 .box-xemthem-dichvuphongthuy{
       font-size: 18px;
 }
  .container-fixx {
               max-width: 1140px;
    }
}

/* Extra Large Devices (≥ 1200px and < 1400px) */
@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
    .title-quytrinh {
        font-size: 56px;
        line-height: 50px;
    }

    .quytrinh-2-image {
        left: 33%;
        bottom: -10px;
    }

    .quytrinh-1-image {
        right: 33%;
        bottom: -10px;
    }

    .title-logo {
        display: block;
        font-size: 24px;
    }

    .main-navigation {
        display: block;
    }

    .mobile-menu-toggle {
        display: none;
    }

    .img-logo {
        width: 70px;
        height: 82px;
    }

    .btn-banner-pc {
        display: flex;
    }

    .btn-banner-mobile {
        display: none;
    }

    .btn-hover-default {
        height: 70px;
        margin-top: 30px;
        font-size: 35px;
    }

    /* .sticky-title-wrapper {
        margin-left: 20%;
    } */

    .text-dess-su-menh {
        font-size: 20px;
    }

    .phong-thuyh1 {
        height: 150px;
    }

    .title-chuyengiatuvan {
        font-size: 24px;
    }

    /* 
    .sticky-title-wrapper {
        top: 60px;
        right: 30%;
    } */

    .bird-image {
        left: 18%;
    }

    .upleft-image {
        top: 10%;
        left: 10%;
    }

    .upright-image {
        top: 10%;
        right: 10%;
    }

    .bottom-image {
        bottom: 10%;
        right: 10%;
    }

    .h1-chuyen-gia {
        font-size: 34px;
    }

    .chuyen-gia2 {
        font-size: 67px;
    }

    .h1-chuyen-gia {
        line-height: 85px;
    }

    .title-gioi-thieu {
        font-size: 56px;
    }

    /* .about-2-image {
        top: 17%;
        left: 30%;
    }

    .about-1-image {
        top: 17%;
        right: 30%;
    } */

    .gioi-thieu-content {
        margin-top: 10px;
        font-size: 27px;
    }

    .songabout-upright-image {
        bottom: 5%;
        left: 22%;
    }

    .song2about-upright-image {
        bottom: 0%;
        right: 20%;
    }

    .section-title {
        font-size: 56px;
    }

    .mission-text .sub-title {
        font-size: 40px;
    }

    .text-dess-su-menh {
        font-size: 24px;
    }

    .box-about-text {
        padding-top: 95px;
    }

    .decoration-dot,
    .section-title {
        left: 20%;
    }

    .decoration-dot {
        height: 60px;
    }

    .section-title {
        top: 60px;
    }

    .sumenh-2-image,
    .sumenh-1-image {
        display: none;
    }

    .card-container-miss {
        justify-content: start;
    }

    .card-item-miss {
        font-size: 22px;
    }

    .caydao-upleft-image {
        left: 0;
        top: 0;
    }

    .slide-item {
        height: 400px !important;
    }

    .steps-slider {
        margin-top: 110px;
        margin-bottom: 110px;

    }

    .slide {
        /* 
     * QUAN TRỌNG: Mỗi slide chiếm 1/3 chiều rộng của viewport.
     * Sử dụng calc() để tính toán chính xác.
    */
        flex: 0 0 calc(100% / 3);
    }

    .slide-content {
        height: auto;
        background-image: none;
    }

    .prev-btn {
        left: -60px;
    }

    .next-btn {
        right: -60px;
    }

    .deco-bottom-right {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 30%;
    }

    .deco-bottom-left {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 20%;
    }

    .deco-top-left {
        left: 0%;
        top: 24%;
        width: 14%;
    }

    .deco-bottom {
        bottom: 0;
        right: 50%;
        width: 11%;
    }

    .deco-top-hoa {
        top: 5%;
        right: 0%;
        width: 6%;
    }

    .icontitle-camketleft,
    .icontitle-camketright {
        display: none;
    }

    .gthiu-icontitle-camketleft,
    .gthiu-icontitle-camketright {
        display: none;
    }

    .dichvu-icontitle-camketleft,
    .dichvu-icontitle-camketright {
        display: none;
    }

    .item-title-camket {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
    }

    .phanhoi-2-image {
        display: none;
    }

    .phanhoi-1-image {
        display: none;
    }

    .contact-box {
        padding: 133px 39px 133px 39px;
    }

    .deco-hoatietbottomleft {
        left: 0%;
        bottom: 60px;
    }

    .deco-hoatietbottomright {
        right: 0;
        bottom: 60px;
    }

    .section-title-hoi-dap {
        margin-top: 30px;
    }

    .section-title-hoi-dap h2 {
        font-size: 56px;

    }

    .hoi-dap-1-image,
    .hoi-dap-2-image {
        display: none;
    }

    .img-hoidap1 {
        position: absolute;
        top: 0;
        right: 0;
        width: 367px;
    }

    .img-hoidap2 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 281px;
    }

    .trangtri2thanh1 {
        bottom: 44%;
        right: 43%;
    }

    .trangtri2thanh2 {
        bottom: 44%;
        right: 23%;

    }

    .trangtri2hoidap {
        bottom: 30%;
        right: 70%;
    }

    .baivietnoibat-1-image,
    .baivietnoibat-2-image {
        display: none;
    }

    /* .box-gthieuthay-chuyengia{
        height: 430px;
    } */
    .section-title-phongthuy {
        margin-top: 30px;
    }

    .titlekienthucphongthuy {
        font-size: 56px;
        font-family: CormorantGaramond-Bold, serif;
    }

    .dich-vu-phongthuy::before {
        height: 96px;
    }

 .title-dichvuphongthuy{
    font-size: 22px;
    height: 56px;
    margin-top: 6px;
 }
 .content-dichvuphongthuy2{
     font-size: 16px;
     line-height: 27px;
     height: 81px;
 }
 .box-xemthem-dichvuphongthuy{
       font-size: 18px;
 }
 .container-fixx {
               max-width: 1140px;
    }
   .contact-description{
        max-width: 500px;
    }
}

/* Ultra Large Devices (≥ 1400px) */
@media screen and (min-width: 1400px) {
    .title-logo {
        display: block;
        font-size: 26px;
    }

    .main-navigation {
        display: block;
    }

    .mobile-menu-toggle {
        display: none;
    }

    .img-logo {
        width: 70px;
        height: 82px;
    }

    .btn-hover-default {
        height: 70px;
        margin-top: 30px;
        font-size: 35px;
    }

    .btn-banner-pc {
        display: flex;
    }

    .btn-banner-mobile {
        display: none;
    }

    /* .sticky-title-wrapper {
        top: 70px;
        right: 30%;
    } */

    .text-dess-su-menh {
        font-size: 20px;
    }

    .phong-thuyh1 {
        height: 150px;
    }

    .title-chuyengiatuvan {
        font-size: 24px;
    }

    .bird-image {
        opacity: 0.4;
        left: 10%;
    }

    .upleft-image {
        opacity: 0.4;
        top: 10%;
        left: 10%;
    }

    .upright-image {
        opacity: 0.4;
        top: 10%;
        right: 10%;
    }

    .bottom-image {
        opacity: 0.4;
        bottom: 10%;
        right: 10%;
    }

    .h1-chuyen-gia {
        font-size: 100px;
    }

    .chuyen-gia2 {
        line-height: 86px;
        font-size: 65px;
    }

    .h1-chuyen-gia {
        line-height: 80px;
    }

    .title-gioi-thieu {
        font-size: 56px;
    }

    /* .about-2-image {
        top: 17%;
        left: 35%;
    }

    .about-1-image {
        top: 17%;
        right: 35%;
    } */

    .gioi-thieu-content {
        margin-top: 10px;
        font-size: 28px;
    }

    .songabout-upright-image {
        bottom: 5%;
        left: 22%;
    }

    .song2about-upright-image {
        bottom: 0%;
        right: 20%;
    }

    .decon-sumenh {
        left: 20%;
        height: 200px;
    }

    .box-about-text {
        padding-top: 30px;
    }

    .section-title {
        font-size: 56px;
    }

    .mission-text .sub-title {
        font-size: 40px;
    }

    .text-dess-su-menh {
        font-size: 20px;
    }

    .decoration-dot,
    .section-title {
        left: 20%;
    }

    .decoration-dot {
        height: 50px;
        /* margin-bottom: 64px; */
    }

    .section-title {
        top: 50px;
    }

    .sumenh-2-image,
    .sumenh-1-image {
        display: none;
    }

    .card-container-miss {
        justify-content: start;
    }

    .card-item-miss {
        font-size: 22px;
    }

    .title-quytrinh {
        font-size: 56px;
        line-height: 50px;
    }

    .quytrinh-2-image {
        left: 33%;
        bottom: -10px;
    }

    .quytrinh-1-image {
        right: 33%;
        bottom: -10px;
    }

    .caydao-upleft-image {
        left: 0;
        top: 0;
    }

    .steps-slider {
        margin-top: 110px;
        margin-bottom: 110px;
    }

    .slide {
        /* 
     * QUAN TRỌNG: Mỗi slide chiếm 1/3 chiều rộng của viewport.
     * Sử dụng calc() để tính toán chính xác.
    */
        flex: 0 0 calc(100% / 3);
    }

    .slide-content {
        height: 440px;
        border: none
    }

    .prev-btn {
        left: -60px;
    }

    .next-btn {
        right: -60px;
    }

    .deco-bottom-right {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 30%;
    }

    .deco-bottom-left {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 18%;
    }

    .deco-top-left {
        left: 0%;
        top: 25%;
        width: 9%;
    }

    .deco-bottom {
        bottom: 0;
        right: 57%;
        width: 11%;
    }

    .deco-top-hoa {
        top: 5%;
        right: 0%;
        width: 5%;
    }

    .icontitle-camketleft,
    .icontitle-camketright {
        display: none;
    }

    .gthiu-icontitle-camketleft,
    .gthiu-icontitle-camketright {
        display: none;
    }

    .dichvu-icontitle-camketleft,
    .dichvu-icontitle-camketright {
        display: none;
    }

    .commitment-item {
        position: relative;
    }

    /* Sử dụng pseudo-element ::after để tạo đường kẻ
       Chỉ áp dụng cho các item KHÔNG PHẢI là item cuối cùng */
    .commitment-item:not(:last-child)::after {
        content: '';
        /* Bắt buộc phải có để pseudo-element hiển thị */

        position: absolute;
        /* Định vị đường kẻ một cách chính xác */
        top: 50%;
        /* Đặt đường kẻ ở giữa theo chiều dọc */
        right: 0;
        /* Đặt đường kẻ ở cạnh phải của cột */
        transform: translateY(-50%);
        /* Căn giữa đường kẻ tuyệt đối */

        width: 1px;
        /* Độ dày của đường kẻ */
        height: 80%;
        /* Chiều cao của đường kẻ (80% chiều cao của cột) */

        /* Màu của đường kẻ - màu trắng mờ cho tinh tế */
        background-color: #FFFFFF;
    }

    .item-title-camket {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
    }

    .phanhoi-2-image {
        display: none;
    }

    .phanhoi-1-image {
        display: none;
    }

    .contact-box {
        padding: 133px 39px 133px 39px;
    }

    .deco-hoatietbottomleft {
        left: 0%;
        bottom: 60px;
    }

    .deco-hoatietbottomright {
        right: 0;
        bottom: 60px;
    }

    .section-title-hoi-dap {
        margin-top: 30px;
    }

    .section-title-hoi-dap h2 {
        font-size: 56px;

    }

    .hoi-dap-1-image,
    .hoi-dap-2-image {
        display: none;
    }

    .img-hoidap1 {
        position: absolute;
        top: 0;
        right: 0;
        width: 367px;
    }

    .img-hoidap2 {
        position: absolute;
        top: 148px;
        left: 0;
        width: 281px;
    }

    .trangtri2thanh1 {
        bottom: 44%;
        right: 43%;
    }

    .trangtri2thanh2 {
        bottom: 44%;
        right: 23%;

    }

    .trangtri2hoidap {
        bottom: 30%;
        right: 70%;
    }

    .baivietnoibat-1-image,
    .baivietnoibat-2-image {
        display: none;
    }

    /* .box-gthieuthay-chuyengia{
        height: 500px;
    } */
    .section-title-phongthuy {
        margin-top: 30px;
    }

    .titlekienthucphongthuy {
        font-size: 56px;
        font-family: CormorantGaramond-Bold, serif;
    }

    .dich-vu-phongthuy::before {
        height: 96px;
    }
     .container-fixx {
        max-width: 1320px;
    }
    .contact-description{
        max-width: 500px;
    }
}

@media screen and (min-width: 2560px) {
    /* .about-2-image {
        top: 11%;
        left: 40%;
    }

    .about-1-image {
        top: 11%;
        right: 40%;
    } */

    .gioi-thieu-content {
        font-size: 28px;
    }

    .songabout-upright-image {
        bottom: 10%;
        left: 28%;
    }

    .song2about-upright-image {
        bottom: 10%;
        right: 28%;
    }

    .decon-sumenh {
        left: 30%;
        height: 200px;
    }

    .box-about-text {
        padding-top: 30px;
    }

    .about-decorative-line {

        height: 70px;

    }

    .section-title {
        font-size: 56px;
    }

    .mission-text .sub-title {
        font-size: 40px;
    }

    .text-dess-su-menh {
        font-size: 24px;
    }

    .decoration-dot,
    .section-title {
        left: 30%;
    }

    .decoration-dot {
        height: 50px;
    }

    .section-title {
        top: 50px;
    }

    .sumenh-2-image,
    .sumenh-1-image {
        display: none;
    }

    .card-container-miss {
        justify-content: start;
    }

    .card-item-miss {
        font-size: 22px;
    }

    .title-quytrinh {
        font-size: 56px;
        line-height: 50px;
    }

    .quytrinh-2-image {
        left: 33%;
        bottom: -10px;
    }

    .quytrinh-1-image {
        right: 33%;
        bottom: -10px;
    }

    .caydao-upleft-image {
        left: 0;
        top: 0;
    }

    .steps-slider {
        margin-top: 170px;
        margin-bottom: 170px;
    }

    .slide {
        /* 
     * QUAN TRỌNG: Mỗi slide chiếm 1/3 chiều rộng của viewport.
     * Sử dụng calc() để tính toán chính xác.
    */
        flex: 0 0 calc(100% / 3);
    }

    .slide-content {
        height: 440px;
        border: none
    }

    .prev-btn {
        left: -60px;
    }

    .next-btn {
        right: -60px;
    }

    .deco-bottom-right {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .deco-bottom-left {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .deco-top-left {
        left: 15%;
        top: 24%;
    }

    .deco-bottom {
        bottom: 0;
        right: 50%;
    }

    .deco-top-hoa {
        top: 5%;
        right: 20%;
    }

    .icontitle-camketleft,
    .icontitle-camketright {
        display: none;
    }

    .gthiu-icontitle-camketleft,
    .gthiu-icontitle-camketright {
        display: none;
    }

    .dichvu-icontitle-camketleft,
    .dichvu-icontitle-camketright {
        display: none;
    }

    .commitment-item {
        position: relative;
    }

    /* Sử dụng pseudo-element ::after để tạo đường kẻ
       Chỉ áp dụng cho các item KHÔNG PHẢI là item cuối cùng */
    .commitment-item:not(:last-child)::after {
        content: '';
        /* Bắt buộc phải có để pseudo-element hiển thị */

        position: absolute;
        /* Định vị đường kẻ một cách chính xác */
        top: 50%;
        /* Đặt đường kẻ ở giữa theo chiều dọc */
        right: 0;
        /* Đặt đường kẻ ở cạnh phải của cột */
        transform: translateY(-50%);
        /* Căn giữa đường kẻ tuyệt đối */

        width: 1px;
        /* Độ dày của đường kẻ */
        height: 80%;
        /* Chiều cao của đường kẻ (80% chiều cao của cột) */

        /* Màu của đường kẻ - màu trắng mờ cho tinh tế */
        background-color: #FFFFFF;
    }

    .tagline {
        font-size: 40px;
    }

    .item-title-camket {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
    }

    .phanhoi-2-image {
        display: none;
    }

    .phanhoi-1-image {
        display: none;
    }

    .contact-box {
        padding: 133px 39px 133px 39px;
    }

    .deco-hoatietbottomleft {
        left: 18%;
        bottom: 60px;
    }

    .deco-hoatietbottomright {
        right: 18%;
        bottom: 60px;
    }

    .section-title-hoi-dap {
        margin-top: 30px;
    }

    .section-title-hoi-dap h2 {
        font-size: 56px;

    }

    .hoi-dap-1-image,
    .hoi-dap-2-image {
        display: none;
    }

    .img-hoidap1 {
        position: absolute;
        top: 0;
        right: 0;
        width: 367px;
    }

    .img-hoidap2 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 281px;
    }

    .trangtri2thanh1 {
        bottom: 44%;
        right: 43%;
    }

    .trangtri2thanh2 {
        bottom: 44%;
        right: 23%;

    }

    .trangtri2hoidap {
        bottom: 30%;
        right: 70%;
    }

    .baivietnoibat-1-image,
    .baivietnoibat-2-image {
        display: none;
    }

    /* .box-gthieuthay-chuyengia{
        height: 500px;
    } */
    .section-title-phongthuy {
        margin-top: 30px;
    }

    .titlekienthucphongthuy {
        font-size: 56px;
        font-family: CormorantGaramond-Bold, serif;
    }

    .dich-vu-phongthuy::before {
        height: 96px;
    }
     .container-fixx {
        max-width: 1320px;
    }
}



@media (max-width: 768px) {
    .my-manual-slider {
        width: 100%;
        /* Chiếm toàn bộ chiều rộng trên mobile */
    }

}
